<div class="button"><button (click)="onBack()">Back</button></div>
<div class="container">
  <mat-list>
    <mat-list-item *ngFor="let item of country">
      <img
        [src]="item.flag"
        [alt]="item.name"
        style="width: 50px; height: 30px"
      />
      <p>{{ item.name }}</p>
      <button mat-icon-button>
        <a
          mat-icon
          href="{{ getRegion() }}/country/{{ getValidPath(item['name']) }}"
          >Details</a
        >
      </button>
    </mat-list-item>
  </mat-list>
</div>
