.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: white;
    mat-dialog-actions{
        background-color: red;
    }
}
:host ::ng-deep .mat-dialog-actions{
    justify-content: center;
}
:host ::ng-deep .mat-button-ripple.mat-ripple{
    position: fixed;
}